<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{site.title}}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
    <script src="{{site.baseurl}}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1><a href="http://{{site.username}}.github.io">{{site.title}}</a></h1>
        <p>生活中缺少的是一双欣赏美的眼睛</p>
        <p class="view"><a href="https://github.com/{{site.username}}/sloth4413.github.io">View the Project on GitHub <small>{{site.username}}/StrayBirds</small></a></p>
        <ul>
          <li><a href="https://github.com/{{site.username}}/sloth4413.github.io/tree/master">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h1>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a> {{ page.title }} 
        </h1>
{{ content }}
      </section>
    </div>
    <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
	<!-- 多说评论框 end -->
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"pi1024"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
	<!-- 多说公共JS代码 end -->
    <footer>
      <p style="text-align:center">Copyright © 2008 - 2014 <a href="https://github.com/{{site.username}}">pi1024</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
