<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{site.title}}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
    <script src="{{site.baseurl}}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1><a href="http://{{site.username}}.github.io/pi1024/">{{site.title}}</a></h1>
        <p>生活中缺少的是一双欣赏美的眼睛</p>
        <p class="view"><a href="https://github.com/{{site.username}}/pi1024">View the Project on GitHub <small>{{site.username}}/StrayBirds</small></a></p>
        <ul>
          <li><a href="https://github.com/{{site.username}}/pi1024/tree/gh-pages">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h1>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a> {{ page.title }} 
        </h1>
{{ content }}
      </section>
    </div>
    <footer>
      <p>Copyright © 2008 - 2014 <a href="https://github.com/{{site.username}}">{{site.username}}</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
